<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>

	<body>
		<div id="app">
			<%- include('includes/sidebar.ejs') %>
				<div id="main">
					<%- include('includes/nav.ejs') %>
						<div class="main-content container-fluid">
							<div class="page-title">
								<div class="row">
									<div class="col-12 col-md-6 order-md-1 order-last">
										<h3>Add Department</h3>
									</div>
									<div class="col-12 col-md-6 order-md-2 order-first">
										<nav aria-label="breadcrumb" class="breadcrumb-header">
											<ol class="breadcrumb">
												<li class="breadcrumb-item">
													<a href="/" class="text-success">Dashboard</a>
												</li>
												<li class="breadcrumb-item active" aria-current="page">
													Add Department
												</li>
											</ol>
										</nav>
									</div>
								</div>
							</div>

							<!-- Basic Vertical form layout section start -->
							<section id="basic-vertical-layouts">
								<div class="row match-height">
									<div class="col-md-8 col-12">
										<div class="card">
											<div class="card-content">
												<div class="card-body">
													<form class="form form-vertical" action="/department/add"
														method="post">
														<div class="form-body">
															<div class="row">
																<div class="col-12">
																	<div class="form-group has-icon-left">
																		<label for="departmentAbbr">Department
																			Short
																			Name</label>
																		<div class="position-relative">
																			<input type="text" class="form-control"
																				placeholder="Input Department"
																				id="departmentAbbr"
																				name="departmentAbbr" />
																			<div class="form-control-icon">
																				<i class="fa fa-table"></i>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-12">
																	<div class="form-group has-icon-left">
																		<label for="departmentName">Department
																			Name</label>
																		<div class="position-relative">
																			<input type="text" class="form-control"
																				placeholder="Input Department Name"
																				id="departmentName"
																				name="departmentName" />
																			<div class="form-control-icon">
																				<i class="fa fa-table"></i>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-12 d-flex justify-content-end">
																	<button type="submit"
																		class="btn btn-primary me-1 mb-1">
																		Submit
																	</button>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<!-- // Basic Vertical form layout section end -->
						</div>
				</div>
		</div>
		<%- include('includes/end.ejs') %>
	</body>

</html>