<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
	<body>
        <div id="app">
            <%- include('includes/sidebar.ejs') %>
            <div id="main">
                <%- include('includes/nav.ejs') %>
				<div class="main-content container-fluid">
					<div class="page-title">
						<div class="row">
							<div class="col-12 col-md-6 order-md-1 order-last">
								<h3>Manage Leave Status</h3>
							</div>
							<div class="col-12 col-md-6 order-md-2 order-first">
								<nav
									aria-label="breadcrumb"
									class="breadcrumb-header"
								>
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a
												href="index.html"
												class="text-success"
												>Dashboard</a
											>
										</li>
										<li
											class="breadcrumb-item active"
											aria-current="page"
										>
											Manage Leave Status
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<section class="section">
						<div class="card">
							<div class="card-body">
								<table class="table" id="table1">
									<thead>
										<tr>
											<th>Leave Type</th>
											<th>From</th>
											<th>To</th>
											<th>Posting Date</th>
											<th>Remark</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Casual Leave</td>
											<td>2021-11-02</td>
											<td>2021-11-05</td>
											<td>2021-11-01</td>
											<td>waiting for approval</td>
											<td>
												<span class="badge bg-info"
													>Pending</span
												>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
        <%- include('includes/end.ejs') %>
	</body>
</html>
