<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
    <body>
        <div id="app">
        <%- include('includes/sidebar.ejs') %>
        <div id="main">
                <%- include('includes/nav.ejs') %>
				<div class="main-content container-fluid">
					<div class="page-title">
						<div class="row">
							<div class="col-12 col-md-6 order-md-1 order-last">
								<h3>Not Approved</h3>
							</div>
							<div class="col-12 col-md-6 order-md-2 order-first">
								<nav
									aria-label="breadcrumb"
									class="breadcrumb-header"
								>
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a
												href="index.html"
												class="text-success"
												>Dashboard</a
											>
										</li>
										<li
											class="breadcrumb-item active"
											aria-current="page"
										>
											Not Approved
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<section class="section">
						<div class="card">
							<div class="card-body">
								<table class="table" id="table1">
									<thead>
										<tr>
											<th>Full Name</th>
											<th>Leave Type</th>
											<th>Posting Date</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>John Doe</td>
											<td>Sick Leave</td>
											<td>2021-11-01</td>
											<td>
												<span class="badge bg-danger"
													>Not Approved</span
												>
											</td>
											<td>
												<a href="editDesignation.php"
													><i
														class="fa fa-eye text-success"
													></i
												></a>
											</td>
										</tr>
										<tr>
											<td>Juan Dela Cruz</td>
											<td>Sick Leave</td>
											<td>2021-11-01</td>
											<td>
												<span class="badge bg-danger"
													>Not Approved</span
												>
											</td>
											<td>
												<a href="editDesignation.php"
													><i
														class="fa fa-eye text-success"
													></i
												></a>
											</td>
										</tr>
										<tr>
											<td>Cardo Dalisay</td>
											<td>Medical Leave</td>
											<td>2021-11-01</td>
											<td>
												<span class="badge bg-danger"
													>Not Approved</span
												>
											</td>
											<td>
												<a href="editDesignation.php"
													><i
														class="fa fa-eye text-success"
													></i
												></a>
											</td>
										</tr>
										<tr>
											<td>John Doe</td>
											<td>Sick Leave</td>
											<td>2021-11-01</td>
											<td>
												<span class="badge bg-danger"
													>Not Approved</span
												>
											</td>
											<td>
												<a href="editDesignation.php"
													><i
														class="fa fa-eye text-success"
													></i
												></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
        <%- include('includes/end.ejs') %>
	</body>
</html>
