<header>
    <nav>
        <ul>
            <li>
                <a
                    class="<%= title === path ? 'active' : undefined %>"
                    href="/"
                    rel="noopener noreferrer"
                    >Home</a
                >
            </li>
            <li><a href="/product" rel="noopener noreferrer">Products</a></li>
            <li>
                <a href="/product/add" rel="noopener noreferrer">Add Product</a>
            </li>
        </ul>
    </nav>
</header>
