<!DOCTYPE html>

<html
    lang="en"
    class="light-style layout-wide"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="../assets/"
    data-template="vertical-menu-template-free"
>
    <%- include('includes/head.ejs') %>
    <body>
        <div id="auth">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12 mx-auto">
                        <div class="card pt-4">
                            <div class="card-body">
                                <h2 class="mb-2 mx-2">Page Not Found</h2>
                                <p class="mb-4 mx-2">
                                    Oops! The requested URL was not found on this server.
                                </p>
                                <a href="/" class="btn btn-primary mx-auto">Back to home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('includes/end.ejs') %>
    </body>
</html>
