<!DOCTYPE html>
<html lang="en">
    <%- include ('includes/head.ejs') %>
    <body>
        <div class="container">
            <h1>404</h1>
            <h2><%= title %></h2>
            <button><a href="/">Back to Home</a></button>
        </div>
    </body>
</html>
