<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Products</title>
        <link rel="stylesheet" href="/main.css" />
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/" rel="noopener noreferrer">Home</a></li>
                    <li>
                        <a
                            href="/product"
                            rel="noopener noreferrer"
                        >Products</a>
                    </li>
                    <li>
                        <a href="/product/add" rel="noopener noreferrer">Add
                            Product</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container">
                <h1>View All Products</h1>
                {{#each data}}
                    <p>{{{product}}}</p>
                {{/each}}
            </div>
        </main>
    </body>
</html>