<header>
    <nav>
        <ul>
            <li>
                <a
                    class="<%= path === '/' ? 'active' : '' %>"
                    href="/"
                    rel="noopener noreferrer"
                    >Home</a
                >
            </li>
            <li>
                <a
                    class="<%= path === '/product' ? 'active' : '' %>"
                    href="/product"
                    rel="noopener noreferrer"
                    >Products</a
                >
            </li>
            <li>
                <a
                    class="<%= path === '/product/add' ? 'active' : '' %>"
                    href="/product/add"
                    rel="noopener noreferrer"
                    >Add Product</a
                >
            </li>
        </ul>
    </nav>
</header>
