<!DOCTYPE html>

<html
    lang="en"
    class="light-style layout-wide customizer-hide"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="../assets/"
    data-template="vertical-menu-template-free"
>
    <%- include('includes/head.ejs') %>
    <body>
        <!-- Content -->

        <div class="container-xxl">
            <div
                class="authentication-wrapper authentication-basic container-p-y"
            >
                <div class="authentication-inner">
                    <!-- Register -->
                    <div class="card">
                        <div class="card-body">
                            <%- include('includes/logo.ejs') %>
                            <h4 class="mb-2">Welcome to Sneat! 👋</h4>
                            <p class="mb-4">
                                Please sign-in to your account and start the
                                adventure
                            </p>

                            <form
                                id="formAuthentication"
                                class="mb-3"
                                action="/login"
                                method="post"
                            >
                                <div class="mb-3">
                                    <label for="email" class="form-label"
                                        >Email or Username</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        placeholder="Enter your email"
                                        autofocus
                                    />
                                </div>
                                <div class="mb-3 form-password-toggle">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="password"
                                            >Password</label
                                        >
                                        <a
                                            href="javascript:void(0);"
                                        >
                                            <small>Forgot Password?</small>
                                        </a>
                                    </div>
                                    <div class="input-group input-group-merge">
                                        <input
                                            type="password"
                                            id="password"
                                            class="form-control"
                                            name="password"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            aria-describedby="password"
                                        />
                                        <span
                                            class="input-group-text cursor-pointer"
                                            ><i class="bx bx-hide"></i
                                        ></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="remember-me"
                                            name="rememberMe"
                                        />
                                        <label
                                            class="form-check-label"
                                            for="remember-me"
                                        >
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button
                                        class="btn btn-primary d-grid w-100"
                                        type="submit"
                                    >
                                        Sign in
                                    </button>
                                </div>
                            </form>

                            <p class="text-center">
                                <span>New on our platform?</span>
                                <a href="/register">
                                    <span>Create an account</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- /Register -->
                </div>
            </div>
        </div>
        <%- include('includes/end.ejs') %>
    </body>
</html>
