<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <script defer src="/assets/fontawesome/js/all.min.js"></script>
  <link rel="stylesheet" href="/assets/vendors/chartjs/Chart.min.css">
  <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <style type="text/css">
    .notif:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .invisible-input {
      border: none;
      outline: none;
      padding: 8px 0;
      width: 100%;
    }
    .error {
      margin: 4px 0;
      color: red !important;
    }
  </style>
</head>